@model TallerMVC1.Models.Estadios

@{
    ViewData["Title"] = "Details";
}

<h1></h1>

<div>
    <h4>Estadios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.capacidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar Estadio</a> |
    <a asp-action="Index">Regresar a las lista</a>
</div>
